<div class="col-md-6">
	<picture class="thumbnail">
	<source 
		srcset="{{ /static/status/{{include.name}}-day-dark.png | relative_url }} 1x,
						{{ /static/status/{{include.name}}-day-dark@2x.png | relative_url }} 2x,
						{{ /static/status/{{include.name}}-day-dark@3x.png | relative_url }} 3x,
						{{ /static/status/{{include.name}}-day-dark@4x.png | relative_url }} 4x"
		media="(prefers-color-scheme: dark)" />
	<img class="img-responsive" src="{{ /static/status/{{include.name}}-day.png | relative_url }}"
		srcset="{{ /static/status/{{include.name}}-day.png | relative_url }} 1x,
						{{ /static/status/{{include.name}}-day@2x.png | relative_url }} 2x,
						{{ /static/status/{{include.name}}-day@3x.png | relative_url }} 3x,
						{{ /static/status/{{include.name}}-day@4x.png | relative_url }} 4x"
	/>
	</picture>
</div>
